@charset "utf-8";
#startKnap {
      position: absolute;
      top:50%;
      left:50%;
      transform: translateX(-50%) translateY(-50%);
      height:55vh;
      z-index: 100;
      border-radius: 100%;
      transition: all 0.5s ease-in, top 5s;
      }
      #startKnap:hover {
      cursor: pointer;
      }
      #infoKnap {
      position: absolute;
      bottom: 2vh;
      height: 7vh;
      z-index: 100;
	  transition: all 0.5s ease-in;
      }
      #infoKnap:hover {
      cursor: pointer;
      }
	   .parrentPanel{
		   font-family: 'Roboto', sans-serif;
		   background-color: rgba(256,256,256,0.7);
			padding:20px;
		   position: absolute;
		   top:50%;
		   left:50%;
		   transform: translateX(-50%) translateY(-50%);
		   z-index: 101;
	   }
	   .closeIcon {
		   background-color: red;
    -webkit-mask-image: url("img/system_icons/icon_x.svg");
    mask-image: url("img/system_icons/icon_x.svg");
		   position: absolute;
		   height: 5.8vh;
		   width: 6vh;
		   top: -1vh;
	   }
	   /* JAVASCRIPT PARENT DETECTOR */
.buttons {
  display: flex;
  font-family: Helvetica;
  font-weight: 400;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  width: 310px;
	margin-top: 20px;
}

.button {
  border: 1px solid #006494;
  border-radius: 50px;
  color: #006494;
  cursor: pointer;
  display: inline-block;
  font-size: 26px;
  height: 80px;
  line-height: 80px;
  margin: 10px;
  text-align: center;
  width: 80px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  background-color: #006494;
  color: #FFFFFF;
}
		.ahashakeheartache {
			-webkit-animation: kf_shake 0.4s 1 linear;
			-moz-animation: kf_shake 0.4s 1 linear;
			-o-animation: kf_shake 0.4s 1 linear;
		}
		@-webkit-keyframes kf_shake {
			0% { -webkit-transform: translate(30px); }
			20% { -webkit-transform: translate(-30px); }
			40% { -webkit-transform: translate(15px); }
			60% { -webkit-transform: translate(-15px); }
			80% { -webkit-transform: translate(8px); }
			100% { -webkit-transform: translate(0px); }
		}
		@-moz-keyframes kf_shake {
			0% { -moz-transform: translate(30px); }
			20% { -moz-transform: translate(-30px); }
			40% { -moz-transform: translate(15px); }
			60% { -moz-transform: translate(-15px); }
			80% { -moz-transform: translate(8px); }
			100% { -moz-transform: translate(0px); }
		}
		@-o-keyframes kf_shake {
			0% { -o-transform: translate(30px); }
			20% { -o-transform: translate(-30px); }
			40% { -o-transform: translate(15px); }
			60% { -o-transform: translate(-15px); }
			80% { -o-transform: translate(8px); }
			100% { -o-origin-transform: translate(0px); }
		}
		
				.hideAnimation1s {
			-webkit-animation: hideAnimation 1s 1 linear;
			-moz-animation: hideAnimation 1s 1 linear;
			-o-animation: hideAnimation 1s 1 linear;
		}
		@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
      .inputs{
		margin-top: 20px;
      }
      .input{
      	background-color:lightblue;
        padding:16px 30px;
        font-size:40px;
        color:black;
      }
      .empty {
      	color:lightblue;
      }
	 .inputCorrect{
      	background-color:green !important;
        color:green !important;
      }
.parrentOnlySection {
	width: 80%;
	height: 80%;
	background:rgba(255,255,255,0.9);
	position: absolute;
	top:10vh;
	left:10%;
	z-index: 105;
	transition: all 2s ease-in-out;
}
.parrentOnlySection .content {
	box-sizing: border-box;
	padding:7vh;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	
}

.closeButton {
	height: 10%;
	width: 10%;
	position: absolute;
	top:2%;
	right:5%;
	cursor: pointer;
}
.parrentTopicArea {
	margin-top:5vh;
	box-sizing: border-box;
	background-color: white;
	height: 8vh;
	width: 29%;
	border: 1px solid black;
	display: inline-block;
	transition: all 1s ease-in-out;
}
.parrentTopicArea:not(:last-child) { margin-right: 5%; }
.active{
	background-color: grey !important;
	font-weight: 700 !important;
	border: 1px solid grey;
}
.parrentTopicAreaText {
	font-size:3.5vh;
    text-align: center;
	vertical-align: middle;
    line-height: 8vh;
}
.parrentTopicArea:hover {
	cursor: pointer;
}
.topicContent {
	text-align: left;
	font-size:2.5vh;
	line-height: 2.5vh;
	display:block;
	backround-color:red;
	height: 100%;
	width: 100%;
	font-weight: 500;
}
.inputBoxParrent{
	box-sizing: border-box;
	display:inline-block;
	width:50%;
	
	margin:0px;
}
.parrentDeveloperBox {
	margin:0px;
	box-sizing: border-box;
	display:inline-block;
	width:49%;
	text-align: right;
	
}

textarea,input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

