/* html {
  scroll-behavior: smooth;
} */

div h2 {
  font-family: Roboto;
  font-size: 25px;
}
.section1 {
  height: 1500px;
  background-color: #204887;
}

.vertical-menu {
  width: 200px;
  /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee;
  /* Grey background color */
  color: black;
  /* Black text color */
  display: block;
  /* Make the links appear below each other */
  padding: 12px;
  /* Add some padding */
  text-decoration: none;
  /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc;
  /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #204887;
  /* Add a blue color to the "active/current" link */
  color: white;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  font-size: 1.2em;
  font-variant-caps: all-small-caps;
  font-family: "Roboto", sans-serif;
}

.main {
  position: absolute;
  left: 15em;
  border: 1px solid grey;
  margin-right: 2em;
  padding: 0.8em;
  line-height: 1.5;
}

/************ FARVER SEKTION ************/

.farvetitle {
  background-color: #003230;
  display: grid;
  grid-template-columns: 1fr;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.farvetitle h2 {
  margin: 0 0 20px 20px;
  color: #fafaff;
  font-weight: 500;
}

.farver {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #003230;
  font-family: sans-serif;
}

.box {
  padding: 0 0 0 20px;
}

.dullred {
  background-color: #8f352a;
  padding: 40px;
  width: 20%;
}

.lightgrayish {
  background-color: #e1d4cd;
  padding: 40px;
  width: 20%;
}

.yellow {
  background-color: #fee238;
  padding: 40px;
  width: 20%;
}

.cyan {
  background-color: #d3584a;
  padding: 40px;
  width: 20%;
}

.darkgrayish {
  background-color: #8c9973;
  padding: 40px;
  width: 20%;
}

.darkblue {
  background-color: #426178;
  padding: 40px;
  width: 20%;
}

.ochre {
  background-color: #cc722d;
  padding: 40px;
  width: 20%;
}

.pink {
  background-color: #db83a5;
  padding: 40px;
  width: 20%;
}

.strongcyan {
  background-color: #bc3018;
  padding: 40px;
  width: 20%;
}

.farver h3 {
  color: #fafaff;
  font-weight: 500;
}

.farver p {
  color: #afb9c5;
  font-weight: 100;
  font-family: sans-serif;
}

/***************** IKONER SEKTION **************/

.ikonertitle {
  background-color: #204887;
  display: grid;
  grid-template-columns: 1fr;
}

.ikonertitle h2 {
  margin: 0 0 10px 40px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 100;
  font-family: sans-serif;
}

.ikonerundertitle {
  background-color: #204887;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ikonerundertitle p {
  margin: 0 0 10px 40px;
  width: 50%;
  color: #ffffff;
}

.ikonerundertitle img {
    width: 50%;
    margin: -60px 0 100px 80px;
  }
}

.ikonerundertitle p {
  margin: 0 0 10px 40px;
  width: 300px;
  font-size: 12px;
}

.sektionikoner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color: #EBF4FF;
}

.sektionikoner p {
  margin: 0 0 10px 30px;
  padding-top: 15px;
}

.ikoner img {
  width: 20%;
  margin: 20px 0 0 20px;
}

/*************** TYPOGRAFI SEKTION*****************/

.typotitle {
  display: grid;
  grid-template-columns: 1fr;
  font-family: Roboto;
  background-color: #204887;
}

.typotitle h2 {
  margin: 0 0 0 20px;
}

.sectiontypo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: white;
  font-family: Roboto;
  background-color: #204887;
}

.typografi {
  font-family: Roboto;
}

.typografi h2 {
  font-family: Roboto;
  font-size: 100px;
  padding: 0px;
  margin: 0 0 0 20px;
}

.typografi p {
  font-size: 20px;
  margin: -30px 0 0 20px;
}

.typografitekst h2 {
  font-size: 20px;
  color: grey;
}

.typografitekst h3 {
  font-size: 35px;
  margin-top: -5px;
}

.typografitekst p {
  font-size: 20px;
  margin-top: -10px;
  width: 200px;
}

/*************** SPROG SEKTION ****************/

.tostitle {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #204887;
  font-family: Roboto;
}

.sectiontos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: #204887;
  font-family: Roboto;
  height: 1000px;
}

/*************** FIGUR SEKTION ****************/

.figurtitle {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #204887;
  font-family: Roboto;
}

.figurtitle h2 {
  margin: 0 0 0 20px;
}

.figursektion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: #204887;
  font-family: Roboto;
}

.figur h3 {
  margin: 0 0 0 20px;
}

.figur p {
  margin: 0 0 0 20px;
}

.figursektion img {
  width: 80%;
  margin: 20px 0 0 20px;
  border: 2px solid black;
}
