/* html {
  scroll-behavior: smooth;
} */

div h2 {
  font-family: Roboto;
  font-size: 25px;
}
.section1 {
  height: 1500px;
  background-color: #204887;
}

.vertical-menu {
  width: 200px;
  /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee;
  /* Grey background color */
  color: black;
  /* Black text color */
  display: block;
  /* Make the links appear below each other */
  padding: 12px;
  /* Add some padding */
  text-decoration: none;
  /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc;
  /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #204887;
  /* Add a blue color to the "active/current" link */
  color: white;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  font-size: 1.2em;
  font-variant-caps: all-small-caps;
  font-family: "Roboto", sans-serif;
}

.main {
  position: absolute;
  left: 15em;
  border: 1px solid grey;
  margin-right: 2em;
  padding: 0.8em;
  line-height: 1.5;
}

/************ FARVER SEKTION ************/

.farvetitle {
  background-color: #003230;
  display: grid;
  grid-template-columns: 1fr;
}

.farvetitle h2 {
  margin: 3% 0 3% 9%;
  font-size: 30px;
  color: #ffffff;
  font-weight: 100;
  font-family: sans-serif;
}

.farveundertitle {
  background-color: #003230;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.farveundertitle p {
  margin: 0 0 10px 18%;
  width: 50%;
  color: #ffffff;
}

.farveundertitle img {
  width: 50%;
  margin: -5% 0 20% 18%;
}

.farver {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: #daebff;
  font-family: sans-serif;
}

.box {
  padding: 0 0 0 20px;
  margin: 9% 0 10% 30%;
}

.dullred {
  background-color: #8f352a;
  padding: 40px;
  width: 20%;
}

.lightgrayish {
  background-color: #e1d4cd;
  padding: 40px;
  width: 20%;
}

.yellow {
  background-color: #fee238;
  padding: 40px;
  width: 20%;
}

.cyan {
  background-color: #d3584a;
  padding: 40px;
  width: 20%;
}

.darkgrayish {
  background-color: #8c9973;
  padding: 40px;
  width: 20%;
}

.darkblue {
  background-color: #426178;
  padding: 40px;
  width: 20%;
}

.ochre {
  background-color: #cc722d;
  padding: 40px;
  width: 20%;
}

.pink {
  background-color: #db83a5;
  padding: 40px;
  width: 20%;
}

.strongcyan {
  background-color: #bc3018;
  padding: 40px;
  width: 20%;
}

.farver h3 {
  color: #0c0c0c;
  font-weight: 500;
}

.farver p {
  color: #0c0c0c;
  font-weight: 100;
  font-family: sans-serif;
}

/***************** BAGGRUND SEKTION **************/

.baggrundtitle {
  background-color: #204887;
  display: grid;
  grid-template-columns: 1fr;
}

.baggrundtitle h2 {
  margin: 3% 0 3% 9%;
  font-size: 30px;
  color: #ffffff;
  font-weight: 100;
  font-family: sans-serif;
}

.baggrundundertitle {
  background-color: #204887;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.baggrundundertitle p {
  width: 50%;
  color: #ffffff;
  margin: 0 0 10px 18%;
}

.baggrundundertitle img {
  width: 50%;
  margin: -5% 0 20% 18%;
}

.sektionbaggrund {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.baggrund1 {
  background-color: #f1c95e;
}

.baggrund2 {
  background-color: #10afa2;
}

.sektionbaggrund img {
  width: 80%;
  margin: 20% 0 20% 10%;
}

/***************** IKONER SEKTION **************/

.ikonertitle {
  background-color: #003230;
  display: grid;
  grid-template-columns: 1fr;
}

.ikonertitle h2 {
  margin: 3% 0 3% 9%;
  font-size: 30px;
  color: #ffffff;
  font-weight: 100;
  font-family: sans-serif;
}

.ikonerundertitle {
  background-color: #003230;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ikonerundertitle p {
  width: 50%;
  color: #ffffff;
  margin: 0 0 10px 18%;
}

.ikonerundertitle img {
  width: 50%;
  margin: -5% 0 20% 18%;
}

.sektionikoner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color: #ebf4ff;
}

.sektionikoner p {
  display: grid;
  justify-items: center;
  margin: 0 0 0 -22%;
  padding-top: 10px;
}

.sektionikoner img {
  width: 20%;
  margin: 20px 0 0 28%;
}

/*************** TYPOGRAFI SEKTION*****************/

.typotitle {
  display: grid;
  grid-template-columns: 1fr;
  font-family: Roboto;
  background-color: #204887;
}

.typotitle h2 {
  margin: 3% 0 3% 9%;
  font-size: 30px;
  color: #ffffff;
  font-weight: 100;
  font-family: sans-serif;
}

.typoundertitle {
  background-color: #204887;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.typoundertitle p {
  margin: 0 0 10px 18.7%;
  width: 50%;
  color: #ffffff;
}

.typoundertitle img {
  width: 50%;
  margin: -5% 0 20% 18%;
}

.sectiontypo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: #daebff;
  font-family: Roboto;
}

.typografi {
  font-family: Roboto;
  margin-top: 9%;
}

.typografi h2 {
  font-size: 100px;
  margin: 0 0 10px 19%;
  font-size: 18px;
  font-weight: 100;
}

.typografi p {
  font-size: 14px;
  margin: 0 0 10px 19%;
  width: 50%;
}

.typografitekst {
  font-family: Roboto;
  margin-top: 9%;
}

.typografitekst h2 {
  font-size: 18px;
  color: #44a6c6;
  width: 50%;
  margin: 0 0 10px 18%;
}

.typografitekst p {
  font-size: 18px;
  width: 330px;
  width: 50%;
  margin: 0 0 5% 18%;
}

/*************** TONE OF VOICE SEKTION *************/

.tostitle {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #204887;
  font-family: Roboto;
}

.tostitle h2 {
  margin: 0 0 10px 9%;
  font-size: 30px;
  color: #ffffff;
  font-weight: 100;
  font-family: sans-serif;
  margin-top: 9%;
}

.tosundertitle {
  background-color: #204887;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tosundertitle p {
  margin: 0 0 10px 18.7%;
  width: 50%;
  color: #ffffff;
}

.tosundertitle img {
  width: 50%;
  margin: -5% 0 20% 18%;
}

.sectiontos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: #daebff;
  font-family: Roboto;
}

.sectiontos p {
  font-size: 14px;
  margin: 9% 0 9% 19%;
  width: 50%;
}

/*************** FIGURER SEKTION ****************/

.figurtitle {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #204887;
  font-family: Roboto;
}

.figurtitle h2 {
  margin: 0 0 10px 9%;
  font-size: 30px;
  color: #ffffff;
  font-weight: 100;
  font-family: sans-serif;
  margin-top: 9%;
}

.figurundertitle {
  background-color: #204887;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.figurundertitle p {
  margin: 0 0 10px 18.7%;
  width: 50%;
  color: #ffffff;
}

.figurundertitle img {
  width: 50%;
  margin: -5% 0 20% 18%;
}

.figursektion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: #daebff;
  font-family: Roboto;
}

.figur {
  font-family: Roboto;
  margin-top: 9%;
}

.figur h3 {
  font-size: 100px;
  margin: 0 0 10px 19%;
  font-size: 18px;
  font-weight: 100;
}

.figur p {
  font-size: 14px;
  margin: 0 0 10px 19%;
  width: 50%;
  align-content: center;
}

.figursektion img {
  width: 100%;
  margin: 20px 0 0 10%;
}
